<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" routerLink="/contacts">Back</ion-button>
    </ion-buttons>
    <ion-title *ngIf="contact">{{ contact.get('firstName')?.value }} {{ contact.get('lastName')?.value }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleEditing()" color="{{ readonly ? 'primary' : 'danger' }}">{{ editBtnLabel }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="contact">

  <app-form
    [contact]="contact"
    [readonly]="readonly"
    [postFailed]="postFailed"
    [postFailedErrorMsg]="postFailedErrorMsg"
  ></app-form>

</ion-content>

<ion-footer *ngIf="!readonly">
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="update()" fill="solid">Save</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>
