<!--TODO: The form to edit or create a contact should be the same. The only difference is that
in the case of an edit, you can prefill the form with the contact data. Create a reusable
component containing the form and taking contact as input (doc).-->

<!--TODO: If a field is missing in the contact object, make sure it is not displayed in the view.-->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" routerLink="/contacts">Back</ion-button>
    </ion-buttons>
    <ion-title *ngIf="contact">{{ contact.get('firstName')?.value }} {{ contact.get('lastName')?.value }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleEditing()" color="{{ readonly ? 'primary' : 'danger' }}">{{ editBtnLabel }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="contact">

  <!-- Form error message -->
  <div *ngIf="postFailed && !readonly" class="validation-errors">
    <p class="error-message">
      <ion-text *ngFor="let item of postFailedErrorMsg | keyvalue">
        <ion-text color="danger">
          Form error: <br>
          {{item.value}}
        </ion-text>
      </ion-text>
    </p>
  </div>

  <ion-avatar>
    <img *ngIf="contact.get('picture')?.value" [src]="contact.get('picture')?.value" />
    <img *ngIf="!contact.get('picture')?.value" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
  </ion-avatar>

  <form [formGroup]="contact">

    <!-- title: string("mr", "ms", "mrs", "miss", "dr", "") -->
    <ion-item lines="inset">
      <ion-label>Title</ion-label>
      <ion-select formControlName="title" label="Title" [disabled]="readonly">
        <ion-select-option value="mr">Mr.</ion-select-option>
        <ion-select-option value="ms">Ms.</ion-select-option>
        <ion-select-option value="mrs">Mrs.</ion-select-option>
        <ion-select-option value="miss">Miss</ion-select-option>
        <ion-select-option value="dr">Dr.</ion-select-option>
        <ion-select-option value=""></ion-select-option>
      </ion-select>
    </ion-item>

    <!-- firstName: string(length: 2-50) -->
    <ion-item lines="inset">
      <ion-label>First Name</ion-label>
      <ion-input formControlName="firstName" label="First Name" [readonly]="readonly"></ion-input>
    </ion-item>
    <div *ngIf="!readonly" class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.firstName">
        <p class="error-message"
           *ngIf="contact.get('firstName')?.hasError(validation.type) &&
                (contact.get('firstName')?.dirty || contact.get('firstName')?.touched)">
          <ion-text color="danger">{{ validation.message }}</ion-text>
        </p>
      </ng-container>
    </div>

    <!-- lastName: string(length: 2-50) -->
    <ion-item lines="inset">
      <ion-label>Last Name</ion-label>
      <ion-input formControlName="lastName" label="Last Name" [readonly]="readonly"></ion-input>
    </ion-item>
    <div *ngIf="!readonly" class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.lastName">
        <p class="error-message"
           *ngIf="contact.get('lastName')?.hasError(validation.type) &&
                (contact.get('lastName')?.dirty || contact.get('lastName')?.touched)">
          <ion-text color="danger">{{ validation.message }}</ion-text>
        </p>
      </ng-container>
    </div>

    <!-- gender: string("male", "female", "other", "") -->
    <ion-item lines="inset">
      <ion-label>Gender</ion-label>
      <ion-select formControlName="gender" label="Gender" [disabled]="readonly">
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="female">Female</ion-select-option>
        <ion-select-option value="other">Other</ion-select-option>
        <ion-select-option value=""></ion-select-option>
      </ion-select>
    </ion-item>

    <!-- email: string(email) -->
    <ion-item lines="inset" [class.emaildisabled]="readonly">
      <ion-label>Email</ion-label>
      <ion-input formControlName="email" label="Email" [readonly]="readonly"></ion-input>
    </ion-item>
    <div *ngIf="!readonly" class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.email">
        <p class="error-message"
           *ngIf="contact.get('email')?.hasError(validation.type) &&
                (contact.get('email')?.dirty || contact.get('email')?.touched)">
          <ion-text color="danger">{{ validation.message }}</ion-text>
        </p>
      </ng-container>
    </div>

    <!-- phone: string(phone number - any format) -->
    <ion-item lines="inset">
      <ion-label>Phone number</ion-label>
      <ion-input formControlName="phone" label="Phone number" [readonly]="readonly"></ion-input>
    </ion-item>

    <!-- dateOfBirth: string(ISO Date - value: 1/1/1900 - now) -->
    <ion-item lines="inset">
      <ion-label>Birthday</ion-label>
      <ion-input formControlName="dateOfBirth" label="Birthday" displayFormat="YYYY/MM/DD" [readonly]="readonly"></ion-input>
    </ion-item>
    <div *ngIf="!readonly" class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.dateOfBirth">
        <p class="error-message"
           *ngIf="contact.get('dateOfBirth')?.hasError(validation.type) &&
            (contact.get('dateOfBirth')?.dirty || contact.get('dateOfBirth')?.touched)">
          <ion-text color="danger">{{ validation.message }}</ion-text>
        </p>
      </ng-container>
    </div>

    <!-- location: object(Location) -->
    <ion-item-group>

      <ion-item-divider>
        <ion-label>Address</ion-label>
      </ion-item-divider>

      <ng-container formArrayName="location">

        <ion-item lines="inset">
          <ion-label>Street</ion-label>
          <ion-input formControlName="street" label="Street" [readonly]="readonly"></ion-input>
        </ion-item>
        <div *ngIf="validationMessages.street && !readonly" class="validation-errors">
          <ng-container *ngFor="let validation of validationMessages.street">
            <p class="error-message"
               *ngIf="contact.get('street')?.hasError(validation.type) &&
                (contact.get('street')?.dirty || contact.get('street')?.touched)">
              <ion-text color="danger">{{ validation.message }}</ion-text>
            </p>
          </ng-container>
        </div>

        <ion-item lines="inset">
          <ion-label>City</ion-label>
          <ion-input formControlName="city" label="City" [readonly]="readonly"></ion-input>
        </ion-item>
        <div *ngIf="validationMessages.country && !readonly" class="validation-errors">
          <ng-container *ngFor="let validation of validationMessages.city">
            <p class="error-message"
               *ngIf="contact.get('city')?.hasError(validation.type) &&
                (contact.get('city')?.dirty || contact.get('city')?.touched)">
              <ion-text color="danger">{{ validation.message }}</ion-text>
            </p>
          </ng-container>
        </div>

        <ion-item lines="inset">
          <ion-label>Country</ion-label>
          <ion-input formControlName="country" label="Country" [readonly]="readonly"></ion-input>
        </ion-item>
        <div *ngIf="validationMessages.country && !readonly" class="validation-errors">
          <ng-container *ngFor="let validation of validationMessages.country">
            <p class="error-message"
               *ngIf="contact.get('country')?.hasError(validation.type) &&
                (contact.get('country')?.dirty || contact.get('country')?.touched)">
              <ion-text color="danger">{{ validation.message }}</ion-text>
            </p>
          </ng-container>
        </div>

        <!-- TODO: handle state & timezone -->
        <ion-item lines="inset" style="display: none">
          <ion-label>State</ion-label>
          <ion-input formControlName="state" label="State" [readonly]="readonly"></ion-input>
        </ion-item>

        <ion-item lines="inset" style="display: none">
          <ion-label>Timezone</ion-label>
          <ion-input formControlName="timezone" label="Timezone" [readonly]="readonly"></ion-input>
        </ion-item>

      </ng-container>
    </ion-item-group>

    <!-- picture: string(url) -->
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Picture</ion-label>
      </ion-item-divider>

      <ion-item lines="inset">
        <ion-label>URL</ion-label>
        <ion-input formControlName="picture" label="URL" [readonly]="readonly"></ion-input>
      </ion-item>

    </ion-item-group>

  </form>
</ion-content>

<ion-footer *ngIf="!readonly">
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="update()" fill="solid">Save</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>
