<!--TODO: Add Route to "New"-->

<ion-header>
  <ion-toolbar>
    <ion-title class="center-title">Contacts</ion-title>
    <ion-buttons slot="end">
      <ion-button>New</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item *ngFor="let contact of contacts" [routerLink]="['/contact/', contact.id]" button detail="false">
<!--      <ion-item *ngFor="let contact of contacts" [routerLink]="['/contact/', contact.id]" button detail="false">-->
      <ion-avatar slot="start">
        <img [src]="contact.picture" alt="Profile Picture">
      </ion-avatar>
      <ion-label>
        <h2>{{ contact.title }} {{ contact.firstName }} {{ contact.lastName }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
