<ion-header>
  <ion-toolbar>
    <ion-title class="center-title">New Contact</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/contacts">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-form
    [contact]="contact"
    [readonly]="false"
    [postFailed]="postFailed"
    [postFailedErrorMsg]="postFailedErrorMsg"
  ></app-form>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
<!--      TODO: form validation does not work properly, so i'm turning off the check-->
<!--      <ion-button type="submit" [disabled]="!contactForm.valid" (click)="save()">Save</ion-button>-->
      <ion-button type="submit" (click)="save()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
