ion-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  margin: 20px auto;
}

ion-input {
  text-align: right;
}

ion-item {
  &.title-item {
    max-height: 30px;
    --background: var(--ion-color-light-shade);

    ion-label {
      //color: black;
      font-size: 12px;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 12px;
    }
  }
  &.item-interactive-disabled {
    //color: black;
    ion-input {
      opacity: 1;
    }
  }
  &.emaildisabled {
    //color: black;
    ion-input {
      opacity: 1;
    }
  }
}

ion-input {
  &.input-disabled {
    //color: black;
    opacity: 1;
  }
}
